.register-form__inner{
    text-align: center;
}

input {
    line-height: 40px;
    width: 35%;
    margin: 5px auto;
    border-radius: 5px;
    border: solid 2px #858383;
}

.login-section{
    margin: 20px auto 140px;
}
.login-section_guidance{
    margin-bottom: 0;
    color: #5c5b5b;
}

.login-button{
    margin-top: 5px;
    text-decoration: none;
    color: #1631e6;
    font-weight: bold;
}

.register-form__error-message {
    color: #FF9494;
    margin-top: 0;
}